body{
   padding:0;
   margin:0;
   overflow-x:hidden;
}

.nav-link{
   color:white;
}
.middle-content-container{
   display: flex;
   align-content: center;
   justify-content: center;
   height: 100vh;
   width: 100vw;
}
.cart-value{
   position:relative;
   padding-right: 1rem;

}
.hidden{
   display: none;
}

.cart-value::after{
   content: '';
   height: 1rem;
   width: 1rem;
   position: absolute;
   background-color: rgb(255, 166, 0);
   border-radius: 50%;
   top:-1rem;
   
}
.over-buttons{
   min-width: 100px;  
   display: flex;
   justify-content: space-between;
   padding: 0.5rem;
   align-items: center;
}
.over-buttons  *{
   margin:0;
   padding: 0;
}
.card-min-height{
   row-gap: 1rem;
}
.tfooter tr td {
  padding:0;
 

   
}
